body {
    height: 100vh;
}

.full {
    height: 100vh;
}

h2 {
    align-content: center;
    user-select: none;
}

.main_input {
    border-radius: 16px;
    border: 3px solid darkgray;
}

.unselectable {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.collapsible {
    overflow: hidden;
    max-width: 100px;
    transition: max-width 0.3s;
}

.control {
    position: absolute;
    overflow: hidden;
    bottom: 16px;
    right: 24px;
    max-width: 100px;
    transition: max-width 0.3s;
    cursor: default;
}

.wrapper {
    width: 485px;
    height: 485px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0 solid darkgray;
}


.collapsed {
    max-width: 0;
}

.centered {
    text-align: center;
}

.btn-default {

background-color: white;

color:grey;

border-color: grey;

}

.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {



background-color: lightgray;

color:black;

border-color: black;

}