body {
    height: 100vh;
}

.full {
    height: 100vh;
}

h2 {
    align-content: center;
}

.main_input {
    border-radius: 16px;
    border: 3px solid darkgray;
}

.input {
    border: dashed darkgray;
    border-radius: 5px;
    text-align: center;
    height: 50vh;
}

.control {
    position: absolute;
    overflow: hidden;
    bottom: 32px;
    right: 39px;
    max-width: 100px;
    transition: max-width 0.3s;
    cursor: default;
}

.collapsed {
    max-width: 0;
}


.btn-default {

background-color: white;

color:grey;

border-color: grey;

}

.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {



background-color: wheat;

color:black;

border-color: black;

}