{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
        <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static 'digit_recognition/base.css' %}">
        <title> Digits </title>

        <style>
            .eraser{
                cursor: -webkit-image-set(url({% static 'digit_recognition/eraser-solid1x.svg' %}) 1x,
                                          url({% static 'digit_recognition/eraser-solid2x.svg' %}) 2x), auto;
            }
            .select{
                cursor: default;
            }
            .pencil {
                cursor: -webkit-image-set(url({% static 'digit_recognition/pencil-alt-solid1x.svg' %}) 1x,
                                          url({% static 'digit_recognition/pencil-alt-solid2x.svg' %}) 2x), auto;
            }
        </style>

    </head>
    <body>
        <div class="container-fluid full d-flex flex-column justify-content-between">
            <div class="row">
                <div class="col p-0">
                    <nav class="navbar navbar-expand navbar-light bg-light">
                        <a class="navbar-brand" >
                            <h3> Digit recognition </h3>
                        </a>
                    </nav>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-auto main_input form-group p-3">
                    <div class="row">
                        <div class="col-12 justify-content-center" style="text-align: center" id="text">
                            <p>Draw your digit here</p>
                        </div>
                    </div>

                    <div class="row justify-content-center">
                        <div class="col-auto pb-2">
                            <div style="background-image: url({% static 'digit_recognition/background.jpg' %}); height: 477px; width: 477px">
                                <canvas style="height: 477px; width: 477px;" id="drawing_board" class="select">

                                </canvas>
                                <div class="btn-group-vertical btn-group-toggle control collapsed" data-toggle="buttons" id="collapser">
                                    <label class="btn btn-default active" id="select">
                                        <input type="radio" name="options" autocomplete="off" checked>
                                        <i class="fas fa-mouse-pointer fa-2x"></i>
                                    </label>
                                    <label class="btn btn-default" id="pencil">
                                        <input type="radio" name="options" autocomplete="off">
                                        <i class="fas fa-pencil-alt fa-2x"></i>
                                    </label>
                                    <label class="btn btn-default" id="eraser">
                                        <input type="radio" name="options" autocomplete="off">
                                        <i class="fas fa-eraser fa-2x"></i>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col input-group pb-2">
                            <div class="input-group-prepend">
                                <button class="btn btn-outline-secondary" type="button">Guess</button>
                            </div>
                          <input type="text" class="form-control" placeholder="Hmm what is this" aria-label="" aria-describedby="basic-addon1" readonly>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <footer class="col p-0 page-footer font-small">
                    <div class="footer-copyright text-center bg-light py-3 ">© 2018 Copyright:
                        <a href="https://t.me/realnigger" target="_blank"> Erg Noor</a>
                    </div>
                </footer>
            </div>

        </div>
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.1.0.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
        <script src="{% static 'digit_recognition/drawing.js' %}"></script>
    </body>
</html>