{% extends 'digit_recognition/base.html' %}
    {%  load static %}

    {% block style %}
        <style>
            .eraser{
                cursor: -webkit-image-set(url({% static 'digit_recognition/eraser-solid1x.svg' %}) 1x,
                                          url({% static 'digit_recognition/eraser-solid2x.svg' %}) 2x) 0 32, auto;
            }
            .select{
                cursor: default;
            }
            .pencil {
                cursor: -webkit-image-set(url({% static 'digit_recognition/pencil-alt-solid1x.svg' %}) 1x,
                                          url({% static 'digit_recognition/pencil-alt-solid2x.svg' %}) 2x) 0 32, auto;
            }
        </style>

        <link rel="stylesheet" type="text/css" href="{% static 'digit_recognition/base.css' %}">
    {% endblock %}

    {% block body %}
        <div class="row justify-content-center" id="center">
            <div class="col-auto main_input form-group p-3" id="form">
                <div class="row">
                    <div class="col-12 justify-content-center centered" id="text" >
                        <h5 class="unselectable"> Draw your digit here</h5>
                    </div>
                </div>
                <div class="row justify-content-center" draggable="false">
                    <div class="col-auto pb-2">
                        <div class="wrapper" id="wrapper" draggable="false">
                            <div style="background-image: url({% static 'digit_recognition/background.jpg' %}); background-position: center center; background-repeat: no-repeat; background-size: 100% auto">
                                <canvas id="drawing_board" class="select" width="477" height="477" draggable="false">
                                </canvas>
                                <div class="btn-group-vertical btn-group-toggle control collapsed" data-toggle="buttons" id="collapser">
                                    <label class="btn btn-default active" id="select">
                                        <input type="radio" name="options" autocomplete="off" checked>
                                        <i class="fas fa-mouse-pointer fa-lg"></i>
                                    </label>
                                    <label class="btn btn-default" id="pencil">
                                        <input type="radio" name="options" autocomplete="off">
                                        <i class="fas fa-pencil-alt fa-lg"></i>
                                    </label>
                                    <label class="btn btn-default" id="eraser">
                                        <input type="radio" name="options" autocomplete="off">
                                        <i class="fas fa-eraser fa-lg"></i>
                                    </label>
                                    <button class="btn btn-default" id="trash">
                                        <i class="far fa-trash-alt fa-lg"></i>
                                    </button>
                                    <button class="btn btn-default" id="undo">
                                        <i class="fas fa-undo fa-lg"></i>
                                    </button>
                                    <button class="btn btn-default" id="redo">
                                        <i class="fas fa-redo fa-lg"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col input-group pb-2">
                        <div class="input-group-prepend">
                            <button class="btn btn-outline-secondary" type="button" id="guess">Guess</button>
                        </div>
                        <input type="text" class="form-control unselectable" placeholder="Hmm what is this" aria-label="" aria-describedby="basic-addon1" readonly id="response">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary collapsible collapsed p-0" style="overflow: hidden;" type="button" id="loading" disabled>
                                <i class="fas fa-spinner fa-spin"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    {% endblock %}


    {% block scripts %}
        <script src="{% static 'digit_recognition/drawing.js' %}"></script>
    {% endblock %}